#nome, 
#email, 
#topico{
	border-radius: 100px;
	background-color: #ffffffef;
}

#mensagem{
	border-radius: 30px;
	background-color: #ffffffef;
}

form{
	width: 42%;
	padding-left: 150px;
	padding-top: 20px;
	color: white;
}

.titulo{
	font-size: 30px;
	font-family: 'Poppins', sans-serif;
	font-weight: 1000;
} 

#nomeHelp{
	color: rgb(187, 187, 187);
}

.btn-botao{
	width: 100px;
}

.botoes{
	padding-bottom: 15px;
}