/*CSS para a página de insere*/

/*------------Formulario-------------*/
#nome{
	border-radius: 100px;
	background-color: #ffffffef;
}

#mensagemEnviada{
	border-radius: 30px;
	background-color: #ffffffef;
}

#nomeHelp{
	color: rgb(187, 187, 187);
}

