<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Deletar Dúvida</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/CSS/style.css">
        <link rel="stylesheet" type="text/css" href="/CSS/delete.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
            <a href="/"><img class="nav_logo" src="/imagens/gobots.png"></a>
            <ul>
                <li><a href="/duvida/"><button class="btn"> Nova dúvida</button></a></li>
                <li><a href="/duvida/filtroForm"><button class="btn">Procurar</button></a></li>
                <li><a href="/duvida/deleteForm"><button class="btn">Apagar</button></a></li>
                <li><a href="/duvida/updateForm"><button class="btn">Atualizar</button></a></li>
            </ul>
        </nav>
        <form action = "/duvida/delete" method="POST">
            <p class="titulo">Apagar dúvida</p>
            <div class="form-group">
                <label for="id">Qual dúvida vôce deseja apagar?</label>
                <input type="text" class="form-control" id="id" name="id" aria-describedby="deleteHelp">
                <small id="deleteHelp">Digite apenas o número da dúvida. Ex: 1</small>
            </div>
            <div class="botoes">
                <input class="btn btn-primary btn-botao" type="submit" value="Enviar">  
            </div> 
        </form>
        <a href="/duvida/duvidaLista"><button class="btn btn-outline-light btn-lista">Lista de dúvidas</button></a>
    </body>
</html>