<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Alterar Duvida</title>
    </head>
    <body>
        <p >Alterar Duvida</p>
        <form action = "/duvida/update" method="POST">
            <label for="mensagem">mensagem:</label>
            <input type="text" id="mensagem" name="mensagem"><br><br>

            <label for="id">Id:</label>
            <input type="text" id="id" name="id"><br><br>

            <input type="submit" value="Enviar">
            <input type="reset" value="Limpar"/><br>
        </form>
        <a href="/duvida/duvidaLista"><button>Lista de Duvidas</button></a>
    </body>
</html>