<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Alterar Dúvida</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/CSS/style.css">
        <link rel="stylesheet" type="text/css" href="/CSS/update.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
            <a href="/"><img class="nav_logo" src="/imagens/gobots.png"></a>
            <ul>
                <li><a href="/mensagem/"><button class="btn"> Nova Mensagem</button></a></li>
                <li><a href="/mensagem/filtroForm"><button class="btn">Procurar</button></a></li>
                <li><a href="/mensagem/deleteForm"><button class="btn">Apagar</button></a></li>
                <li><a href="/mensagem/updateForm"><button class="btn">Atualizar</button></a></li>
            </ul>
        </nav>
        <form action = "/mensagem/update" method="POST">
            <p class="titulo">Alterar Mensagem</p>
            <div class="form-group">
                <label for="id">Qual mensagem vôce deseja alterar?</label>
                <input type="text" class="form-control" id="id" name="id" aria-describedby="idHelp">
                <small id="idHelp">Digite apenas o número da mensagem. Ex: 1</small>
            </div>
            <div class="form-group">
                <label for="mensagemEnviada">Digite sua alteração</label>
                <input type="text" class="form-control" id="mensagemEnviada" name="mensagemEnviada">
            </div>
            <div class="botoes">
                <input class="btn btn-primary btn-botao" type="submit" value="Enviar">
            </div>
        </form>
        <a href="/mensagem/mensagemLista"><button class="btn btn-outline-light btn-lista">Lista de Mensagem</button></a>
    </body>
</html>